<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center custom-modal-header">
        <h5 class="modal-title w-100" style="font-size: 14px; color: #FFFFFF; font-family: Segoe UI,serif; font-weight: 400">SIGN IN</h5>
      </div>
      <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col">
              <label for="{{ login_form.username.id_for_label }}" class="form-label">Username:</label>
              {{ login_form.username }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="{{ login_form.password.id_for_label }}" class="form-label">Password:</label>
              {{ login_form.password }}
            </div>
          </div>
          <br>
          <div class="row mb-3">
            <div class="col text-center">
              <div class="d-grid gap-3 d-md-flex justify-content-md-center">
                <a class="btn-segoe" data-bs-dismiss="modal">Cancel</a>
                <a class="btn-segoe-primary" id="saveButton">Log in</a>
                <input type="submit" class="d-none" id="submitButton">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
document.getElementById("saveButton").addEventListener("click", function() {
  document.getElementById("submitButton").click();
});
</script>
