h1.special2 {
  font-family: 'Segoe UI', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #0085C8;
}

.btn-segoe-main {
  background-color: #0184C8;
  border-radius: 22.5px;
  font-family: 'Segoe UI', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 8px 12px;
  text-align: center;
  display: inline-block;
  width: auto;
  min-width: 100px;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  text-decoration: none;
  margin-right: 10px;
}

.btn-segoe-main:hover {
  background: #199EE3;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.btn-segoe-main:focus,
.btn-segoe-main:active {
  background-color: #0184C8;
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.btn-segoe-main:focus,
.btn-segoe-main:active {
  background: #0776B0;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}


/*.nav-container {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  !*align-items: center;*!*/
/*}*/

/*nav ul {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: flex-start;*/
/*  gap: 10px;*/
/*  list-style: none;*/
/*}*/

/*nav li {*/
/*  padding: 8px 16px;*/
/*  background: #0184C8;*/
/*  border-radius: 22.5px;*/
/*}*/

/*nav li a {*/
/*  display: flex;*/
/*  !*justify-content: center;*!*/
/*  !*align-items: center;*!*/
/*  font-family: 'Segoe UI', serif;*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*  line-height: 17px;*/
/*  color: #FFFFFF;*/
/*}*/

/*form {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*}*/

label {
  font-family: 'Segoe UI', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #46423E;
  margin-top: -5px;
  color: #0776B0;
}

select {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #46423E;
  box-sizing: border-box;
  width: 227px;
  height: 20px;
  border: 1px solid #ECECEC;
  margin-top: -10px;
}

/*nav li:hover {*/
/*  background: #199EE3;*/
/*  text-decoration: none;*/
/*}*/

/*nav li:hover a {*/
/*  color: #FFFFFF;*/
/*  text-decoration: none;*/
/*}*/

/*nav li:active {*/
/*  background: #0776B0;*/
/*}*/

/*nav li:active a {*/
/*  color: #FFFFFF;*/
/*}*/
