.apartment-table {
  position: relative;
  width: 1190px;
  top: 0;
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #46423E;
  margin: 0 0 0 170px;
}


.apartment-table thead {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: #F9CC9D;
        }

.apartment-table tr:nth-child(odd) {
  background-color: #FFFFFF;
}

.apartment-table tr:nth-child(even) {
  background-color: #FBFBFB;
}

.apartment-table tr:hover {
  background-color: #F4F4F4;
}

.apartment-header {
  text-align: center;
  height: 46px;
  background-color: #E7F7FF;
  font-weight: 600;
  padding: 0 5px;
}

.apartment-owner {
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  color: #46423E;
  text-align: left;
  font-weight: 600;
}

.apartment-nomer {
  padding: 0 10px;
}

.apartment-table td {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 50px;
  text-align: center;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ECECEC;
}

td:nth-child(2) {
  text-align: left;
  font-size: 16px;
}

.back-to-top {
    position: fixed;
    bottom: 65px;
    right: 180px;
    width: 60px;
    height: 60px;
    background-image: url("../img/top-button.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    cursor: pointer;
}
