{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
  <div class="modal-content">
    <div class="modal-header text-center custom-modal-header">
      <h5 class="modal-title w-100" style="font-size: 14px; color: #FFFFFF; font-family: Segoe UI;">{{ title }}</h5>
    </div>
    <div class="modal-body">
      <div class="row mb-3">
        <div class="col" style="text-align: center;">
          <label class="form-label" style="margin-bottom: 0;">Вы действительно хотите удалить тариф</label>
          <label class="form-label" style="margin-bottom: 0; font-weight: bold;">"{{ tariff_name }}"</label>
          <label class="form-label" style="margin-bottom: 0;">?</label>
        </div>
      </div>
      <br>
      <div class="row mb-3">
        <div class="col text-center">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a class="btn-segoe" data-bs-dismiss="modal">Отменить</a>
            <a class="btn-segoe-primary" id="yesButton">Удалить</a>
            <input type="submit" class="d-none" id="submitButtonYes">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endwith %}

<script>
  document.getElementById("yesButton").addEventListener("click", function() {
    document.getElementById("submitButtonYes").click();
  });
</script>
