{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
    <div class="modal-content">
      <div class="modal-header text-center custom-modal-header">
        <h5 class="modal-title w-100" style="font-size: 14px; color: #FFFFFF; font-family: Segoe UI,serif; font-weight: 400">{{ title }}</h5>
      </div>
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col">
              <label for="{{ tariff_form.name.id_for_label }}" class="form-label">Название:</label>
                {% render_field tariff_form.name class="form-control" %}
                <div class="invalid-feedback">{{ tariff_form.name.errors|first }}</div>
            </div>
            <div class="col">
              <label for="{{ tariff_form.hot_water_odn.id_for_label }}" class="form-label">Горячая вода (ОДН):</label>
              {% render_field tariff_form.hot_water_odn class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.hot_water_odn.errors|first }}</div>
            </div>
            <div class="col">
              <label for="{{ tariff_form.solid_waste.id_for_label }}" class="form-label">Обращение с ТКО:</label>
              {% render_field tariff_form.solid_waste class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.solid_waste.errors|first }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="{{ tariff_form.maintenance.id_for_label }}" class="form-label">Содержание жилья:</label>
              {% render_field tariff_form.maintenance class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.maintenance.errors|first }}</div>
            </div>
            <div class="col">
              <label for="{{ tariff_form.cold_water.id_for_label }}" class="form-label">Холодная вода:</label>
              {% render_field tariff_form.cold_water class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.cold_water.errors|first }}</div>
            </div>
            <div class="col">
              <label for="{{ tariff_form.electricity.id_for_label }}" class="form-label">Электроэнергия:</label>
              {% render_field tariff_form.electricity class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.electricity.errors|first }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="{{ tariff_form.heating.id_for_label }}" class="form-label">Отопление (Гкал):</label>
              {% render_field tariff_form.heating class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.heating.errors|first }}</div>
            </div>
            <div class="col">
              <label for="{{ tariff_form.cold_water_odn.id_for_label }}" class="form-label">Холодная вода (ОДН):</label>
              {% render_field tariff_form.cold_water_odn class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.cold_water_odn.errors|first }}</div>
            </div>
            <div class="col">
              <label for="{{ tariff_form.electricity_odn.id_for_label }}" class="form-label">Электроэнергия (ОДН):</label>
              {% render_field tariff_form.electricity_odn class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.electricity_odn.errors|first }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="{{ tariff_form.heating_rub.id_for_label }}" class="form-label">Отопление (Руб):</label>
              {% render_field tariff_form.heating_rub class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.heating_rub.errors|first }}</div>
            </div>
            <div class="col">
              <label for="{{ tariff_form.sewage.id_for_label }}" class="form-label">Водоотведение:</label>
              {% render_field tariff_form.sewage class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.sewage.errors|first }}</div>
            </div>
            <div class="col">
              <label for="{{ tariff_form.lift.id_for_label }}" class="form-label">Лифт:</label>
              {% render_field tariff_form.lift class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.lift.errors|first }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="{{ tariff_form.hot_water.id_for_label }}" class="form-label">Горячая вода:</label>
              {% render_field tariff_form.hot_water class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.hot_water.errors|first }}</div>
            </div>
            <div class="col">
              <label for="{{ tariff_form.sewage_odn.id_for_label }}" class="form-label">Канализация (ОДН):</label>
              {% render_field tariff_form.sewage_odn class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.sewage_odn.errors|first }}</div>
            </div>
            <div class="col">
              <label for="{{ tariff_form.capital_repair.id_for_label }}" class="form-label">Капитальный ремонт:</label>
              {% render_field tariff_form.capital_repair class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.capital_repair.errors|first }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="{{ tariff_form.multiplying_factor.id_for_label }}" class="form-label">Размер повышающего коэффициента:</label>
              {% render_field tariff_form.multiplying_factor class="form-control" %}
              <div class="invalid-feedback">{{ tariff_form.multiplying_factor.errors|first }}</div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
            <br>
          <div class="row mb-3">
            <div class="col text-center">
              <div class="d-grid gap-3 d-md-flex justify-content-md-center">
                <a class="btn-segoe" data-bs-dismiss="modal">Отменить</a>
                <a class="btn-segoe-primary" id="saveTariffButton">Сохранить</a>
                <input type="submit" class="d-none" id="submitButtonSaveTariff">
              </div>
            </div>
          </div>
        </div>
    </div>
</form>
{% endwith %}

<script>
  document.getElementById("saveTariffButton").addEventListener("click", function() {
    document.getElementById("submitButtonSaveTariff").click();
  });
</script>
