{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/apartment_base.css' %}" rel="stylesheet">
    <link href="{% static 'css/apartment.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% for tariff in tariff_list  %}
    {% for colname in tariff.column_set.all  %}
        <p>{{ colname }}</p>
    {% endfor %}
{% endfor %}

<h1 class="special2">Тарифы</h1>
<br>
<div class="nav-container">
<nav>
<ul>
  <li><a href="{% url 'tariff:tariff_create' %}">Добавить новый тариф</a></li>
</ul>
</nav>
</div>

<table class="apartment-table">
        <thead class="apartment-table">
            <tr>
                <th class="apartment-header">№</th>
                <th class="apartment-header">Наименование</th>
                <th class="apartment-header">Содержания жилья</th>
                <th class="apartment-header">Подогрев воды ГКал</th>
                <th class="apartment-header">Подогрев воды рубли</th>
                <th class="apartment-header">Горячая вода</th>
                <th class="apartment-header"></th>
                <th class="apartment-header"></th>
            </tr>
        </thead>
        <tbody>

            {% for tariff in tariff_list  %}
                <tr>
                    <td>
                        <span class="apartment-nomer">{{ forloop.counter }}</span>
                    </td>
                    <td>{{tariff.name}}</td>
                    <td>{{tariff.maintenance}}</td>
                    <td>{{tariff.heating}}</td>
                    <td>{{tariff.heating_rub}}</td>
                    <td>{{tariff.hot_water}}</td>
                    <td><a href="{% url 'tariff:tariff_update' tariff.id %} ">Редактировать</a></td>
                    <td><a href="{% url 'tariff:tariff_delete' tariff.id %}">Удалить</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}