{% for tariff in tariff_list %}
<tr>
  <td>
    <span class="apartment-nomer">{{ forloop.counter }}</span>
  </td>
  <td style="padding-left: 10px">{{ tariff.name }}</td>
  <td>{{ tariff.maintenance }}</td>
  <td>{{ tariff.heating }}</td>
  <td>{{ tariff.heating_rub }}</td>
  <td>{{ tariff.hot_water }}</td>
  <td>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-5">
          <button class="edit-btn2" hx-get="{% url 'tariff:edit_tariff' pk=tariff.pk %}" hx-target="#dialog">Edit</button>
        </div>
        <div class="col-5">
          <button class="delete-btn2" hx-get="{% url 'tariff:tariff_delete' pk=tariff.pk %}" hx-target="#confirmation">Delete</button>
        </div>
      </div>
    </div>
  </td>
</tr>
{% endfor %}
