{% extends 'main/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block apartment_header %}

<div class="container">

    <br>

    <div class="row">
        <div class="col-sm-6 text-start">
            <h1 class="special2">Apartments</h1>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-6">
             <a class="btn-segoe-main" onclick="window.location.href='{% url 'main:update_fees' %}'">Recalculating</a>
             <a class="btn-segoe-main" onclick="window.location.href='{% url 'main:generate_excel' %}?filter={{ request.GET.filter }}'">Excel</a>
             <a class="btn-segoe-main" onclick="window.location.href='{% url 'main:apartment_receipt' %}'">Receipts</a>
             <a class="btn-segoe-main" onclick="window.location.href='{% url 'main:generate_txt' %}'">For bank app</a>
             <a class="btn-segoe-main" onclick="window.location.href='{% url 'main:generate_excel_apartment_total_file' %}'">Summary</a>
        </div>
        <div class="col-sm-6 text-end">
          <form method="get" action="{% url 'index' %}">
            <label for="filter">Choose a filter:</label>
            <select name="filter" id="filter">
              <option value="">All records</option>
              <option value="balance_end_gt_6000">Debtors  (balance end &gt; 6000)</option>
            </select>
          </form>
        </div>
    </div>
</div>

<br>

{% endblock %}
