{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<style>
		.icon-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		.icon {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 20px;
			cursor: pointer;
			text-decoration: none;
		}

		.icon img {
			width: 50px;
			height: 50px;
		}
	</style>
</head>
<body>
	<div class="icon-container">
		<a class="icon" href="{% url 'index' %}">
			<img src="{% static '/main_icons/capital_repair.png' %}" alt="Icon 1">
			<p>ТСЖ Радуга</p>
		</a>
		<a class="icon" href="{% url 'main:all' %}">
			<img src="{% static '/main_icons/icon2.png' %}" alt="Icon 2">
			<p>Капитальный ремонт</p>
		</a>
		<a class="icon" href="{% url 'main:all' %}">
			<img src="{% static '/main_icons/icon3.png' %}" alt="Icon 3">
			<p>Расценки</p>
		</a>
		<a class="icon" href="{% url 'main:update_fees' %}">
			<img src="{% static '/main_icons/icon4.png' %}" alt="Icon 4">
			<p>Перерасчитать</p>
		</a>
		<a class="icon" href="{% url 'main:generate_excel' %}">
			<img src="{% static '/main_icons/icon5.png' %}" alt="Icon 5">
			<p>Для клиент банка</p>
		</a>
		<a class="icon" href="{% url 'main:apartment_receipt' %}">
			<img src="{% static '/main_icons/icon6.png' %}" alt="Icon 6">
			<p>Итоги</p>
		</a>
		<a class="icon" href="{% url 'main:settings' %}">
			<img src="{% static '/main_icons/icon7.png' %}" alt="Icon 7">
			<p>Настройки</p>
		</a>
		<a class="icon" href="login.html">
			<img src="{% static '/main_icons/login_icon.png' %}" alt="Login">
			<p>Вход</p>
		</a>
		<a class="icon" href="logout.html">
			<img src="{% static '/main_icons/logout_icon.png' %}" alt="Logout">
			<p>Выход</p>
		</a>
	</div>
{% block content %} {% endblock %}
</body>
</html>
