{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/apartment_base.css' %}" rel="stylesheet">
{% endblock %}

{% block apartment_header %}

<div class="container">

    <div class="row">
        <div class="col-sm-6 text-start">
            <h1 class="special2">Квартиры</h1>
        </div>
    </div>

    <br>


    <div class="row">
        <div class="col-sm-6 text-start">
          <div class="nav-container">
            <ul>
              <li><a href="{% url 'main:update_fees' %}">Перерасчёт</a></li>
              <li><a href="{% url 'main:generate_excel' %}?filter={{ request.GET.filter }}">Excel</a></li>
              <li><a href="{% url 'main:apartment_receipt' %}">Квитанции</a></li>
              <li><a href="{% url 'main:generate_txt' %}">Для клиент банка</a></li>
              <li><a href="{% url 'main:generate_excel_apartment_total_file' %}">Итоги</a></li>
            </ul>
          </nav>
        </div>

        <div class="col-sm-6 text-end">
          <form method="get" action="{% url 'index' %}">
            <label for="filter">Выберите фильтр:</label>
            <select name="filter" id="filter">
              <option value="">Все записи</option>
              <option value="balance_end_gt_6000">Должники (сальдо конец &gt; 6000)</option>
            </select>
          </form>
        </div>
    </div>
</div>

{% endblock %}

