{% extends 'main/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
          <button onclick="window.location.href = '{{ prev_url }}';">Перейти на квартиру {{ page_num|add:-1 }}</button>
          <button onclick="window.location.href = '{{ next_url }}';">Перейти на квартиру {{ page_num|add:1 }}</button>
        </div>
        {% include 'main/edit_detail.html' %}
        {% include 'main/edit_counter.html' %}
        {% include 'main/edit_charge.html' %}
    </div>

<script>
    const transmitButton = document.getElementById("transmitButton");
    const electricityPrevInput = document.getElementById('{{ counterform.electricity_previous.auto_id }}');
    const electricityCurrInput = document.getElementById('{{ counterform.electricity_current.auto_id }}');
    const electricityValueInput = document.getElementById('{{ counterform.electricity_value.auto_id }}');
    const coldWaterPrevInput = document.getElementById('{{ counterform.cold_water_previous.auto_id }}');
    const coldWaterCurrInput = document.getElementById('{{ counterform.cold_water_current.auto_id }}');
    const coldWaterValueInput = document.getElementById('{{ counterform.cold_water_value.auto_id }}');
    const HotWaterPrevInput = document.getElementById('{{ counterform.hot_water_previous.auto_id }}');
    const HotWaterCurrInput = document.getElementById('{{ counterform.hot_water_current.auto_id }}');
    const HotWaterValueInput = document.getElementById('{{ counterform.hot_water_value.auto_id }}');
    const WastewaterValueInput = document.getElementById('{{ counterform.wastewater_value.auto_id }}');

    const sum = parseInt(coldWaterCurrInput.value) + parseInt(HotWaterCurrInput.value);

    transmitButton.addEventListener("click", () => {
      WastewaterValueInput.value  = (-1 * sum).toString();

      HotWaterPrevInput.value = HotWaterCurrInput.value;
      HotWaterCurrInput.value = "0";
      HotWaterValueInput.value = (parseInt(HotWaterCurrInput.value) - parseInt(HotWaterPrevInput.value)).toString();

      coldWaterPrevInput.value = coldWaterCurrInput.value;
      coldWaterCurrInput.value = "0";
      coldWaterValueInput.value = (parseInt(coldWaterCurrInput.value) - parseInt(coldWaterPrevInput.value)).toString();

      electricityPrevInput.value = electricityCurrInput.value;
      electricityCurrInput.value = "0";
      electricityValueInput.value = (parseInt(electricityCurrInput.value) - parseInt(electricityPrevInput.value)).toString();

      event.preventDefault();
    });

    // Add event listeners to the electricity input fields to recalculate the value whenever the user types a new value
    electricityPrevInput.addEventListener('input', function() {
        const prevValue = parseInt(electricityPrevInput.value);
        const currValue = parseInt(electricityCurrInput.value);
        const calcValue = currValue - prevValue;
        electricityValueInput.value = calcValue;
    });

    electricityCurrInput.addEventListener('input', function() {
        const prevValue = parseInt(electricityPrevInput.value);
        const currValue = parseInt(electricityCurrInput.value);
        const calcValue = currValue - prevValue;
        electricityValueInput.value = calcValue;
    });

    // Add event listeners to the cold water input fields to recalculate the value whenever the user types a new value
    coldWaterPrevInput.addEventListener('input', function() {
        const prevValue = parseInt(coldWaterPrevInput.value);
        const currValue = parseInt(coldWaterCurrInput.value);
        const calcValue = currValue - prevValue;
        coldWaterValueInput.value = calcValue;
    });

    coldWaterCurrInput.addEventListener('input', function() {
        const prevValue = parseInt(coldWaterPrevInput.value);
        const currValue = parseInt(coldWaterCurrInput.value);
        const calcValue = currValue - prevValue;
        coldWaterValueInput.value = calcValue;
    });

    // Add event listeners to the hot water input fields to recalculate the value whenever the user types a new value
    HotWaterPrevInput.addEventListener('input', function() {
        const prevValue = parseInt(HotWaterPrevInput.value);
        const currValue = parseInt(HotWaterCurrInput.value);
        const calcValue = currValue - prevValue;
        HotWaterValueInput.value = calcValue;
    });

    HotWaterCurrInput.addEventListener('input', function() {
        const prevValue = parseInt(HotWaterPrevInput.value);
        const currValue = parseInt(HotWaterCurrInput.value);
        const calcValue = currValue - prevValue;
        HotWaterValueInput.value = calcValue;
    });
</script>

{% endblock %}


