{% extends 'main/base.html' %}
{% load static %}

{% block css %}

  <style>
    #back-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: none;
    }

    #back-to-top:hover {
      cursor: pointer;
    }
  </style>

{% endblock %}

{% block content %}


  <br>
  <div class="container">

  <div class="row mb-3">
      <div class="col text-center">
        <div class="d-grid gap-3 d-md-flex justify-content-md-center">
            {% include 'main/messages.html' %}
{#          {% for message in messages %}#}
{#            <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 400px">#}
{#              {{ message }}#}
{#            </div>#}
{#          {% endfor %}#}
        </div>
      </div>
  </div>

    <div class="row">
      <div class="col-sm-6">
        {% if page_num > 1 %}
          <a onclick="window.location.href = '{{ prev_url }}';" class="btn-next-previous" data-bs-dismiss="modal"><< Кв №{{ page_num|add:-1 }}</a>
     {% endif %}
      </div>
      <div class="col-sm-6 text-end">
        {% if page_num < 106 %}
          {% if page_num > 1 %}
            <a onclick="window.location.href = '{{ next_url }}';" class="btn-next-previous" data-bs-dismiss="modal">Кв №{{ page_num|add:1 }} >></a>
          {% else %}
            <a onclick="window.location.href = '{{ next_url }}';" class="btn-next-previous" data-bs-dismiss="modal">Кв №{{ page_num|add:1 }} >></a>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col text-start">
        <h1 class="special2">
          <a href="{% url 'index' %}" style="color: #0085C8; text-decoration: none">Квартиры</a>
          <span class="page-number"> -> №{{ page_num }} ({{ shortOwnerName }})</span>
        </h1>
      </div>
    </div>
  </div>
  <br>
  {% include 'main/edit_detail.html' %}
  <br>
  <br>
  {% include 'main/edit_counter.html' %}
  <br>
  <br>
  {% include 'main/edit_charge.html' %}

  <div class="back-to-top"></div>

  <br>
  <br>
  <br>
  <br>

  <script>
    var backToTopButton = document.querySelector('.back-to-top');

    window.addEventListener('scroll', function() {
      if (window.pageYOffset > 100) {
        backToTopButton.style.display = 'block';
      } else {
        backToTopButton.style.display = 'none';
      }
    });

    backToTopButton.addEventListener('click', function() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    });
  </script>

  <script>
    const transmitButton = document.getElementById("transmitButton");
    const electricityPrevInput = document.getElementById('{{ counterform.electricity_previous.auto_id }}');
    const electricityCurrInput = document.getElementById('{{ counterform.electricity_current.auto_id }}');
    const electricityValueInput = document.getElementById('{{ counterform.electricity_value.auto_id }}');
    const coldWaterPrevInput = document.getElementById('{{ counterform.cold_water_previous.auto_id }}');
    const coldWaterCurrInput = document.getElementById('{{ counterform.cold_water_current.auto_id }}');
    const coldWaterValueInput = document.getElementById('{{ counterform.cold_water_value.auto_id }}');
    const HotWaterPrevInput = document.getElementById('{{ counterform.hot_water_previous.auto_id }}');
    const HotWaterCurrInput = document.getElementById('{{ counterform.hot_water_current.auto_id }}');
    const HotWaterValueInput = document.getElementById('{{ counterform.hot_water_value.auto_id }}');
    const WastewaterValueInput = document.getElementById('{{ counterform.wastewater_value.auto_id }}');

    const sum = parseInt(coldWaterCurrInput.value) + parseInt(HotWaterCurrInput.value);

    transmitButton.addEventListener("click", () => {
      WastewaterValueInput.value  = (-1 * sum).toString();

      HotWaterPrevInput.value = HotWaterCurrInput.value;
      HotWaterCurrInput.value = "0";
      HotWaterValueInput.value = (parseInt(HotWaterCurrInput.value) - parseInt(HotWaterPrevInput.value)).toString();

      coldWaterPrevInput.value = coldWaterCurrInput.value;
      coldWaterCurrInput.value = "0";
      coldWaterValueInput.value = (parseInt(coldWaterCurrInput.value) - parseInt(coldWaterPrevInput.value)).toString();

      electricityPrevInput.value = electricityCurrInput.value;
      electricityCurrInput.value = "0";
      electricityValueInput.value = (parseInt(electricityCurrInput.value) - parseInt(electricityPrevInput.value)).toString();

      event.preventDefault();
    });

    // Add event listeners to the electricity input fields to recalculate the value whenever the user types a new value
    electricityPrevInput.addEventListener('input', function() {
        const prevValue = parseInt(electricityPrevInput.value);
        const currValue = parseInt(electricityCurrInput.value);
        const calcValue = currValue - prevValue;
        electricityValueInput.value = calcValue;
    });

    electricityCurrInput.addEventListener('input', function() {
        const prevValue = parseInt(electricityPrevInput.value);
        const currValue = parseInt(electricityCurrInput.value);
        const calcValue = currValue - prevValue;
        electricityValueInput.value = calcValue;
    });

    // Add event listeners to the cold water input fields to recalculate the value whenever the user types a new value
    coldWaterPrevInput.addEventListener('input', function() {
        const prevValue = parseInt(coldWaterPrevInput.value);
        const currValue = parseInt(coldWaterCurrInput.value);
        const calcValue = currValue - prevValue;
        coldWaterValueInput.value = calcValue;
    });

    coldWaterCurrInput.addEventListener('input', function() {
        const prevValue = parseInt(coldWaterPrevInput.value);
        const currValue = parseInt(coldWaterCurrInput.value);
        const calcValue = currValue - prevValue;
        coldWaterValueInput.value = calcValue;
    });

    // Add event listeners to the hot water input fields to recalculate the value whenever the user types a new value
    HotWaterPrevInput.addEventListener('input', function() {
        const prevValue = parseInt(HotWaterPrevInput.value);
        const currValue = parseInt(HotWaterCurrInput.value);
        const calcValue = currValue - prevValue;
        HotWaterValueInput.value = calcValue;
    });

    HotWaterCurrInput.addEventListener('input', function() {
        const prevValue = parseInt(HotWaterPrevInput.value);
        const currValue = parseInt(HotWaterCurrInput.value);
        const calcValue = currValue - prevValue;
        HotWaterValueInput.value = calcValue;
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>


{% endblock %}
