<div class="container">
  <form method="post">
  {% csrf_token %}
  <div class="card border border-primary rounded-0">
    <div class="card-header header_text">
      Общая информация
    </div>
    <div class="card-body">
      <div class="row">

        <div class="row">
          <div class="col-md-3">
            <label for="{{ form.registredQt.id_for_label }}" class="form-label">{{ form.registredQt.label }}</label>
          </div>
          <div class="col-md-9">
            {{ form.registredQt }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label for="{{ form.totalArea.id_for_label }}" class="form-label">{{ form.totalArea.label }}</label>
          </div>
          <div class="col-md-9">
            {{ form.totalArea }}
          </div>
        </div>

         <div class="row">
          <div class="col-md-3">
            <label for="{{ form.account_number.id_for_label }}" class="form-label">{{ form.account_number.label }}</label>
          </div>
          <div class="col-md-9">
            {{ form.account_number }}
          </div>
        </div>

       </div>
    </div>

    <div class="row">

        <div class="row">
          <div class="col-md-3">
            <label for="{{ form.livedQt.id_for_label }}" class="form-label">{{ form.livedQt.label }}</label>
          </div>
          <div class="col-md-9">
            {{ form.livedQt }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label for="{{ form.personalAccount.id_for_label }}" class="form-label">{{ form.personalAccount.label }}</label>
          </div>
          <div class="col-md-9">
            {{ form.personalAccount }}
          </div>
        </div>

         <div class="row">
          <div class="col-md-3">
            <label for="{{ form.tariff.id_for_label }}" class="form-label">{{ form.tariff.label }}</label>
          </div>
          <div class="col-md-9">
            {{ form.tariff }}
          </div>
        </div>

       </div>
    </div>

    <div style="display: none;">
        {{ form.serialNumber }}
    </div>

    <div class="col-md-12" style="display: none;">
      <input type="text" id="id_details" name="details">
    </div>


      <div class="row">
        <div class="col-md-12 text-center">
          <input type="submit" value="Сохранить" class="btn btn-primary">
        </div>
      </div>
    </form>
</div>
