{% extends 'main/base.html' %}

{% block content %}
<table>
  <thead>
    <tr>
        <th style="text-align:center">№</th>
        <th style="text-align:center">ФИО</th>
        <th style="text-align:center">Кол. зарег.</th>
        <th style="text-align:center">Кол. прожив.</th>
        <th style="text-align:center">Общ. площ.</th>
        <th style="text-align:center">Содерж. помещения</th>
        <th style="text-align:center">Эл/эн ОДН</th>
        <th style="text-align:center">ОДН Холодная вода</th>
        <th style="text-align:center">ОДН Сточные воды</th>
        <th style="text-align:center">ОДН Горячая вода</th>
        <th style="text-align:center">Лифт</th>
        <th style="text-align:center">Содерж. помещ. итого</th>
        <th style="text-align:center">Обращение с ТКО</th>
        <th style="text-align:center">Электр.</th>
        <th style="text-align:center">Отопление Гкал</th>
        <th style="text-align:center">Отопление, руб. </th>
        <th style="text-align:center">Гор. вода</th>
        <th style="text-align:center">Хол. вода</th>
        <th style="text-align:center">Водоотв.</th>
        <th style="text-align:center">Итого коммунальные услуги</th>
        <th style="text-align:center">Начислено</th>
        <th style="text-align:center">Перерасчет</th>
        <th style="text-align:center">Сальдо Начало</th>
        <th style="text-align:center">Сальдо Конец</th>
        <th style="text-align:center">Оплачено</th>
        <th style="text-align:center">Пеня</th>
        <th style="text-align:center">Итого к оплате</th>
    </tr>
  </thead>
  <tbody>
    {% for apartment in apartments %}
      <tr>
        <td style="text-align:center">{{ apartment.serialNumber }}</td>
        <td style="text-align:center">
          <a href="/update/{{ apartment.serialNumber }}"><span class="glyphicon glyphicon-pencil">{{ apartment.owner }}</span></a>
        </td>
        {% for detail in apartment.apartmentdetail_set.all %}
            <td style="text-align:center">{{ detail.registredQt }}</td>
            <td style="text-align:center">{{ detail.livedQt }}</td>
            <td style="text-align:center">{{ detail.totalArea }}</td>
        {% endfor %}

        {% for apartment_fee in apartment.apartmentfee_set.all %}
            <td style="text-align:center">{{ apartment_fee.maintenance }}</td>
            <td style="text-align:center">{{ apartment_fee.electricity_odn }}</td>
            <td style="text-align:center">{{ apartment_fee.cold_water_odn }}</td>
            <td style="text-align:center">{{ apartment_fee.sewage_odn }}</td>
            <td style="text-align:center">{{ apartment_fee.hot_water_odn }}</td>
            <td style="text-align:center">{{ apartment_fee.lift }}</td>
            <td style="text-align:center">{{ apartment_fee.maintenance_full }}</td>
            <td style="text-align:center">{{ apartment_fee.solid_waste }}</td>
            <td style="text-align:center">{{ apartment_fee.electricity }}</td>
            <td style="text-align:center">{{ apartment_fee.heating }}</td>
            <td style="text-align:center">{{ apartment_fee.heating_rub }}</td>
            <td style="text-align:center">{{ apartment_fee.hot_water }}</td>
            <td style="text-align:center">{{ apartment_fee.cold_water }}</td>
            <td style="text-align:center">{{ apartment_fee.sewage }}</td>
            <td style="text-align:center">{{ apartment_fee.maintenance_total }}</td>
            <td style="text-align:center">{{ apartment_fee.accrued_expenses }}</td>
            <td style="text-align:center">{{ apartment_fee.recalculation }}</td>
            <td style="text-align:center">{{ apartment_fee.balance_start }}</td>
            <td style="text-align:center">{{ apartment_fee.balance_end }}</td>
            <td style="text-align:center">{{ apartment_fee.paid }}</td>
            <td style="text-align:center">{{ apartment_fee.fine }}</td>
            <td style="text-align:center">{{ apartment_fee.total }}</td>
        {% endfor %}

{#        {% for charge in apartment.apartmentcharge_set.all %}#}
{#            <td style="text-align:center">{{ charge.electricity_odn }}</td>#}
{#        {% endfor %}#}

      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

