{% extends 'main/apartment_base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
    <link href="{% static 'css/apartment_base.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
    <table class="apartment-table">
        <colgroup>
            <col style="width: 3%;">
            <col style="width: 22%;">
            <col style="width: 7%;">
            <col style="width: 7%;">
            <col style="width: 7%;">
            <col style="width: 7%;">
            <col style="width: 7%;">
            <col style="width: 7%;">
            <col style="width: 7%;">
            <col style="width: 7%;">
            <col style="width: 7%;">
            <col style="width: 7%;">
        </colgroup>
        <thead class="apartment-table">
            <tr>
                <th class="apartment-header">№</th>
                <th class="apartment-header">Собственник</th>
                <th class="apartment-header">Кол-во прожив.</th>
                <th class="apartment-header">Общ. площ.</th>
                <th class="apartment-header">Содерж. помещения</th>
                <th class="apartment-header">Начислено</th>
                <th class="apartment-header">Перерасчёт</th>
                <th class="apartment-header">Сальдо (начало)</th>
                <th class="apartment-header">Сальдо (конец)</th>
                <th class="apartment-header">Оплачено</th>
                <th class="apartment-header">Пеня</th>
                <th class="apartment-header">Итого к оплате</th>
            </tr>
        </thead>
        <tbody>
            {% for apartment in apartments %}
            <tr onclick="location.href='/update/{{ apartment.serialNumber }}';" style="cursor:pointer;">
                <td>
                    <span class="apartment-nomer">{{ apartment.serialNumber }}</span>
                </td>
                <td>
                    <span class="apartment-owner">{{ apartment.owner }}</span>
                </td>
                {% for detail in apartment.apartmentdetail_set.all %}
                <td>{{ detail.livedQt }}</td>
                <td>{{ detail.totalArea }}</td>
                {% endfor %}
                {% for apartment_fee in apartment.apartmentfee_set.all %}
                <td>{{ apartment_fee.maintenance|intcomma }}</td>
                <td>{{ apartment_fee.accrued_expenses|intcomma }}</td>
                <td>{{ apartment_fee.recalculation|intcomma }}</td>
                <td>{{ apartment_fee.balance_start|intcomma }}</td>
                <td>{{ apartment_fee.balance_end|intcomma }}</td>
                <td>{{ apartment_fee.paid|intcomma }}</td>
                <td>{{ apartment_fee.fine|intcomma }}</td>
                <td>{{ apartment_fee.total|intcomma }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="back-to-top"></div>

<br>
<br>
<br>
<br>

<script>
    var backToTopButton = document.querySelector('.back-to-top');

    window.addEventListener('scroll', function() {
        if (window.pageYOffset > 100) {
            backToTopButton.style.display = 'block';
        } else {
            backToTopButton.style.display = 'none';
        }
    });

    backToTopButton.addEventListener('click', function() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    });
</script>


<script>
  // get the filter select element
  const filterSelect = document.getElementById('filter');

  // get the current filter value from the query string
  const urlParams = new URLSearchParams(window.location.search);
  const currentFilter = urlParams.get('filter');

  // set the selected option in the filter select element based on the current filter value
  if (currentFilter === 'balance_end_gt_6000') {
    filterSelect.value = 'balance_end_gt_6000';
  }

  // add event listener to the filter select element
  filterSelect.addEventListener('change', function() {
    // get the selected option value
    const selectedValue = this.value;

    // construct the new URL based on the selected option value
    let newUrl = window.location.origin + window.location.pathname;
    if (selectedValue) {
      newUrl += '?filter=' + selectedValue;
    }

    // redirect to the new URL
    window.location.href = newUrl;
  });
</script>


{% endblock %}
