<div class="modal fade" id="SettingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center custom-modal-header">
        <h5 class="modal-title w-100" style="font-size: 14px; color: #FFFFFF; font-family: Segoe UI,serif; font-weight: 400">НАСТРОЙКИ</h5>
      </div>
      <form action="{% url 'main:settings' %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col">
              <label for="{{ settings_form.month_name.id_for_label }}" class="form-label">Месяц:</label>
              {{ settings_form.month_name }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="{{ settings_form.month_to_pay.id_for_label }}" class="form-label">К оплате на (месяц):</label>
              {{ settings_form.month_to_pay }}
            </div>
            <div class="col">
              <label for="{{ settings_form.bill.id_for_label }}" class="form-label">Счёт-извещение:</label>
              {{ settings_form.bill }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="{{ settings_form.month_to_date.id_for_label }}" class="form-label">К оплате на (дата):</label>
              {{ settings_form.month_to_date }}
            </div>
            <div class="col">
              <label for="{{ settings_form.pay_up_to.id_for_label }}" class="form-label">Оплатить до:</label>
              {{ settings_form.pay_up_to }}
            </div>
          </div>
          <br>
          <div class="row mb-3">
            <div class="col text-center">
              <div class="d-grid gap-3 d-md-flex justify-content-md-center">
                <a class="btn-segoe" data-bs-dismiss="modal">Отменить</a>
                <a class="btn-segoe-primary" id="saveSettingsButton">Сохранить</a>
                <input type="submit" class="d-none" id="submitButtonSaveSettings">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.getElementById("saveSettingsButton").addEventListener("click", function() {
    document.getElementById("submitButtonSaveSettings").click();
  });
</script>
